@charset "utf-8";

/**
 * [Begin] Key Visual
 **/
#keyvisual {
  width: 100vw;
}
.keyvisual {
  width: 100vw;
}

#keyvisual .kv-wrapper .kv-background {
  background: linear-gradient(
    90deg,
    #fefde2 0%,
    #fefde2 50%,
    #e5f0ee 50%,
    #e5f0ee 100%
  );
  width: 100vw;
  height: 100%;
}

#keyvisual .kv-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyvisual .kv-wrapper .city-emblem {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  max-width: 130px;
}

#keyvisual .kv-wrapper .circle {
  position: absolute;
  top: 3vw;
  right: 10vw;
  width: 6rem;
  height: 6rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

#keyvisual .kv-wrapper .circle .circle-text {
  text-align: center;
}

#keyvisual .kv-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

#keyvisual .project-title-wrapper {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyvisual .project-title-img {
  width: 80%;
  padding-bottom: 0.5rem;
  border-bottom: solid 3px var(--primary-color);
}

#keyvisual .catch-phrase {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

#keyvisual .kv-illustration {
  width: 80%;
  max-width: 600px;
}

#keyvisual .kv-apply-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 3rem 0 2rem;
}

#keyvisual .speech-bubble {
  position: absolute;
  top: -2rem;
  background-color: white;
  color: var(--primary-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4rem;
  font-weight: bolder;
  font-size: 2rem;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

/* 吹き出しのしっぽ：本体の背景色用 */
#keyvisual .speech-bubble::before {
  content: "";
  position: absolute;
  bottom: calc(-1.5rem + 1px);
  left: calc(50% - 0.25rem);
  transform: translateX(-50%);
  border-width: 0.75rem;
  border-style: solid;
  border-color: white transparent transparent transparent;
  z-index: 2;
}

/* 吹き出しのしっぽ：枠線の色用 */
#keyvisual .speech-bubble::after {
  content: "";
  position: absolute;
  bottom: calc(-2rem + 4px);
  left: calc(50% - 0.25rem);
  transform: translateX(-50%);
  border-width: 0.9rem;
  border-style: solid;
  border-right: 0px solid transparent;
  border-color: var(--primary-color) transparent transparent transparent;
  z-index: 1;
}

#keyvisual .kv-apply-subtext {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

#keyvisual .kv-apply-maintext {
  font-size: 3rem;
  font-weight: bolder;
}

#keyvisual .kv-apply-maintext {
  font-size: 3rem;
  font-weight: bolder;
}

#keyvisual .kv-apply-button {
  font-size: 1.5rem;
  position: relative;
  top: 0;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.3rem 2rem;
  /*アニメーションの設定*/
  transition: all 0.3s;
}
#keyvisual .kv-apply-button:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/**
 * [End] Key Visual
 **/

.wrapper {
  padding: 50px 0;
}

.contents {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h3 {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

.nw {
  display: flex;
  margin-bottom: 70px;
}

.nw div {
  padding-left: 50px;
}

.nw button {
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 40px;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  border: none;
}

.nw button:hover {
  top: -3px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.ifp {
  display: flex;
}

.ifp div {
  padding-right: 50px;
}

#support {
  background: linear-gradient(rgb(250, 250, 191), rgb(236, 236, 253));
  position: relative;
}

.fluid {
  background-color: var(--primary-color);
}

#box1 {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--primary-color);
}

#box2 {
  position: absolute;
  top: 680px;
  right: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--primary-color);
}

#box3 {
  position: absolute;
  top: 1050px;
  left: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--secondary-color);
}

#box4 {
  position: absolute;
  top: 1650px;
  right: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--primary-color);
}

.fluid {
  animation: mochimochi 7s infinite;
  animation-timing-function: linear;
}

@keyframes mochimochi {
  0% {
    transform: scale(1.1, 0.8);
  }
  20% {
    transform: scale(1.1, 0.8);
  }

  80% {
    transform: scale(0.8, 1.1);
  }

  100% {
    transform: scale(1.1, 0.8);
  }
}

.title {
  text-align: center;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail div {
  padding: 20px;
}

.detail img {
  width: 50%;
}

.flow {
  text-align: center;
  margin: 50px 0;
}

.flow img {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 30px;
}

.table th {
  font-size: 20px;
  color: #fff;
  background-color: var(--primary-color);
  padding: 20px;
}

.table {
  border-spacing: 0px 20px;
}

.table td {
  background-color: rgb(231, 229, 229);
  padding-left: 20px;
}

.table p {
  padding: 0;
  margin: 0;
}

.table span {
  color: var(--secondary-color);
}

.sj ul {
  padding-left: 0;
}

.sj span {
  color: var(--primary-color);
}

.a {
  margin-bottom: 20px;
}

.a h3 {
  text-align: center;
  color: #fff;
  padding: 5px 0;
  background-color: var(--primary-color);
  background-color: var(--primary-color);
  /* text-align: center; */
  /* color: #fff; */
  /* padding: 5px 0; */
  /* background-color: rgb(12, 12, 116);*/
}

.a p {
  margin: 0 auto;
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  height: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer p {
  color: #fff;
  font-size: 12px;
}

/* タブレット (960px以下) */
@media screen and (max-width: 960px) {
  /* NOTE: 今回はタブレットは無視する */
}

/* スマホ (520px以下) */
@media screen and (max-width: 520px) {
  #keyvisual .kv-wrapper .circle {
    top: 2vw;
    right: 2vw;
    width: 5.5rem;
    height: 5.5rem;
  }

  #keyvisual .kv-wrapper .circle .circle-text {
    font-size: 0.875rem; /* 14px */
  }

  #keyvisual .catch-phrase {
    font-size: 1rem;
  }

  #keyvisual .speech-bubble {
    top: -2rem;
    width: fit-content;
    margin: 0 1rem;
    font-size: 1.125rem; /* 18px */
  }

  #keyvisual .kv-apply-subtext {
    font-size: 1.125rem; /* 18px */
  }

  #keyvisual .kv-apply-maintext {
    font-size: 2rem;
  }

  #keyvisual .kv-apply-button {
    font-size: 1.125rem; /* 18px */
  }
  #keyvisual .project-title-wrapper {
    top: auto;
  }

  #keyvisual .kv-main-area {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 100%;
    justify-content: center;
  }
}
