@charset "utf-8";

body {
  background: linear-gradient(
    90deg,
    #fefde2 0%,
    #fefde2 50%,
    #e5f0ee 50%,
    #e5f0ee 100%
  );
}

#keyvisual {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
}

.city-emblem {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  max-width: 130px;
}

.project-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.kv-illustration {
  width: 40%;
}

.project-title-img {
  width: 65%;
  padding: 1rem;
  border-bottom: 2px solid var(--primary-color);
}

.kv-buttonarea {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

#button {
  letter-spacing: 2px;
  font-size: 1.7vw;
  width: 40%;
  height: 7vh;
  color: #fff;
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
}

.firm-button {
  background-color: var(--primary-color);
}

.student-button {
  background-color: var(--tertiary-color);
}

.kv-buttonarea button:hover {
  position: relative;
  top: -3px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 520px) {
  #keyvisual {
    justify-content: space-evenly;
  }

  .project-title-img {
    width: 80%;
    padding: 0.5rem;
  }

  .kv-illustration {
    width: 70%;
  }

  .kv-buttonarea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
  }

  #button{
    font-size: 4vw;
    width: 80vw;
    padding: 10px 40px;
  }

}
