@charset "utf-8";

:root {
  --primary-color: #2b4c78;
  --secondary-color: #d65564;
  --tertiary-color: rgb(9, 156, 137);
}

html {
  font-size: 100%;
}

/**
 * [Begin] Key Visual
 **/
#keyvisual {
  width: 100vw;
}

#keyvisual .kv-wrapper .kv-background {
  background: linear-gradient(
    90deg,
    #fefde2 0%,
    #fefde2 50%,
    #e5f0ee 50%,
    #e5f0ee 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

#keyvisual .kv-wrapper .city-emblem {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}

#keyvisual .kv-wrapper .circle {
  position: absolute;
  top: 3vw;
  right: 10vw;
  width: 6rem;
  height: 6rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyvisual .kv-wrapper .circle .circle-text {
  text-align: center;
}

#keyvisual .kv-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

#keyvisual .project-title-wrapper {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyvisual .project-title-img {
  width: 80%;
  padding-bottom: 0.5rem;
  border-bottom: solid 3px var(--primary-color);
}

#keyvisual .catch-phrase {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

#keyvisual .kv-illustration {
  width: 80%;
  max-width: 600px;
}

#keyvisual .kv-apply-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 3rem 0 2rem;
}

#keyvisual .speech-bubble {
  position: absolute;
  top: -2rem;
  background-color: white;
  color: var(--primary-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 4rem;
  font-weight: bolder;
  font-size: 2rem;
}

#keyvisual .kv-apply-subtext {
  font-size: 1.5rem;
  font-weight: bolder;
}

#keyvisual .kv-apply-maintext {
  font-size: 3rem;
  font-weight: bolder;
}

#keyvisual .kv-apply-maintext {
  font-size: 3rem;
  font-weight: bolder;
}

#keyvisual .kv-apply-button {
  font-size: 1.5rem;
  position: relative;
  top: 0;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.3rem 2rem;
  /*アニメーションの設定*/
  transition: all 0.3s;
}
#keyvisual .kv-apply-button:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/**
 * [End] Key Visual
 **/

.wrapper {
  padding: 50px 0;
}

.contents {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h3 {
  color: var(--tertiary-color);
}

ul {
  list-style: none;
}

.recommendation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.konnakata{
  width: 500px;
  margin-bottom: 50px;
}

.rec{
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.recphoto{
  text-align: center;
}

#join {
  background: linear-gradient(rgb(250, 250, 191), rgb(236, 236, 253));
  position: relative;
}

#box1 {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--tertiary-color);
}

#box2 {
  position: absolute;
  top: 680px;
  right: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--tertiary-color);
}

#box3 {
  position: absolute;
  top: 1050px;
  left: 100px;
  width: 10vh;
  height: 10vh;
  background: var(--secondary-color);
}

#box4 {
  position: absolute;
  top: 1650px;
  right: 60px;
  width: 10vh;
  height: 10vh;
  background: var(--tertiary-color);
}

.fluid {
  animation: mochimochi 5s infinite;
  animation-timing-function: linear;
}

@keyframes mochimochi {
  0% {
    transform: scale(1.1, 0.8);
  }
  /*
  20% {
    transform: scale(1.1, 0.8);
  }
*/
  50% {
    transform: scale(0.8, 1.1);
  }

  100% {
    transform: scale(1.1, 0.8);
  }
}

.title{
  text-align: center;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail div {
  padding: 20px;
}

.detail img {
  width: 50%;
}

.flow {
  text-align: center;
  margin: 100px 0;
}

.flow img {
  margin-bottom: 40px;
}

.fimg{
  width: 70%;
}

#voice{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vtitle{
  text-align: center;
}

.voice-container{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.voice-container1{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.voice-container2{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.profile{
  width: 50%;
}

.table2 p{
  line-height: 50px;
  border-bottom: 2px solid #000;
  font-weight: bold;
  margin: 0;
}

.table2 p:last-child{
  border-bottom: none;
}

.name{
  padding-left: 114px;
  color: #000;
  font-weight: normal;
}

.grade{
  padding-left: 65px;
  color: #000;
  font-weight: normal;
}

.intern{
  padding-left: 50px;
  font-weight: normal;
}

.q h3 {
  color: #fff;
  padding: 5px 0;
  background-color: var(--tertiary-color);
}

#company{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
  color: #fff;
}

.ctitle{
  text-align: center;
}

.cphoto{
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cimg p{
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.table th {
  font-size: 20px;
  color: #fff;
  background-color: var(--tertiary-color);
  padding: 20px;
}

.table {
  border-spacing: 0px 20px;
}

.table td {
  background-color: rgb(231, 229, 229);
  padding-left: 20px;
}

.table p {
  padding: 0;
  margin: 0;
}

.table span {
  color: var(--secondary-color);
}

.sj ul {
  padding-left: 0;
}

.sj span {
  color: var(--tertiary-color);
}

.a {
  margin-bottom: 20px;
}

.a h3 {
  text-align: center;
  color: #fff;
  padding: 5px 0;
  background-color: var(--tertiary-color);
}

.a p {
  margin: 0 auto;
}

.footer {
  background-color: var(--tertiary-color);
  height: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer p {
  color: #fff;
  font-size: 12px;
}
