@charset "utf-8";

/**
 * [Begin] Key Visual
 **/
#keyvisual {
  width: 100vw;
}
.kv-apply-area-wrapper {
  width: 100vw;
}

#keyvisual .kv-wrapper .kv-background {
  background: linear-gradient(
    90deg,
    #fefde1 0%,
    #fefde1 50%,
    #e2f2ef 50%,
    #e2f2ef 100%
  );
  width: 100vw;
  height: 100%;
}

#keyvisual .kv-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyvisual .kv-wrapper .city-emblem {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  max-width: 130px;
}

#keyvisual .kv-wrapper .circle {
  position: absolute;
  top: 3vw;
  right: 10vw;
  width: 6rem;
  height: 6rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

#keyvisual .kv-wrapper .circle .circle-text {
  text-align: center;
  font-size: 2.5rem;
}

#keyvisual .kv-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

#keyvisual .project-title-wrapper {
  position: relative;
  top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyvisual .project-title-img {
  width: 80%;
  padding-bottom: 0.5rem;
}

#keyvisual .catch-phrase {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  border-bottom: solid 2px var(--primary-color);
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
#keyvisual .catch-phrase-index {
  border: solid 1px var(--primary-color);
  padding: 0.2rem 0.5rem;
  font-size: 1.3rem;
  font-weight: medium;
}

#keyvisual .kv-illustration {
  width: 50%;
  max-width: 600px;
}

#keyvisual .kv-recruitment-area {
  background-color: var(--tertiary-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 0.5em 10%;
}

#keyvisual .kv-apply-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6f2f0;
  color: var(--primary-color);
  padding: 1rem 10%;
}

.kv-apply-maintext-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#keyvisual .speech-bubble {
  position: absolute;
  top: -1.5rem;
  left: -3rem;
  display: inline-block;
  background: var(--primary-color);
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  width: fit-content;
  text-align: center;
}

/* 吹き出しのしっぽ：本体の背景色用 */
#keyvisual .speech-bubble::before {
  content: "";
  position: absolute;
  bottom: calc(-1.5rem + 1px);
  left: calc(50% - 0.25rem);
  transform: translateX(-50%);
  border-width: 0.75rem;
  border-style: solid;
  border-right: 0px solid transparent;
  border-color: var(--primary-color) transparent transparent transparent;
  z-index: 2;
}

/* 吹き出しのしっぽ：枠線の色用 */
#keyvisual .speech-bubble::after {
  content: "";
  position: absolute;
  bottom: calc(-2rem + 4px);
  left: calc(50% - 0.25rem);
  transform: translateX(-50%);
  border-width: 0.9rem;
  border-style: solid;
  border-right: 0px solid transparent;
  border-color: white transparent transparent transparent;
  z-index: 1;
}

#keyvisual .kv-apply-subtext {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

#keyvisual .kv-apply-maintext {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

#keyvisual .kv-apply-button {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top: 0;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding: 0.3rem 2rem;
  /*アニメーションの設定*/
  transition: all 0.3s;
}
#keyvisual .kv-apply-button:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/**
 * [End] Key Visual
 **/

a {
  color: inherit;
}
.wrapper {
  padding: 50px 0;
}

.contents {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--tertiary-color);
}

ul {
  list-style: none;
}

.nw {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-evenly;
}

.nw div,
.ifp div {
  width: 50%;
}

.nw h2 {
  margin-bottom: 20px;
}

.nw p {
  line-height: 30px;
}

.nw button {
  color: #fff;
  background-color: var(--tertiary-color);
  padding: 10px 40px;
  border-radius: 25px;
  position: relative;
  display: inline-block;
  border: none;
  margin-top: 20px;
}

.nw button:hover {
  top: -3px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.nw img,
.ifp img {
  object-fit: contain;
}

.ifp {
  display: flex;
  justify-content: space-evenly;
}

.ifp h2 {
  margin-bottom: 20px;
}

.ifp p {
  line-height: 30px;
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.konnakata {
  margin-bottom: 50px;
}

.rec {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}

.recphoto {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  justify-content: space-between;
}

#join {
  background: linear-gradient(#fffdd1, #e7f4fa);
  position: relative;
}

.jtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

#box1 {
  position: absolute;
  top: 8%;
  left: 7%;
  width: 10vh;
  height: 10vh;
  background: var(--tertiary-color);
}

#box2 {
  position: absolute;
  top: 35%;
  right: 8%;
  width: 7vh;
  height: 7vh;
  background: var(--tertiary-color);
}

#box3 {
  position: absolute;
  top: 53%;
  left: 7%;
  width: 10vh;
  height: 10vh;
  background: var(--secondary-color);
}

#box4 {
  position: absolute;
  top: 70%;
  right: 8%;
  width: 7vh;
  height: 7vh;
  background: var(--tertiary-color);
}

#box5 {
  position: absolute;
  top: 70%;
  left: 70%;
  width: 5vh;
  height: 5vh;
  background: var(--secondary-color);
}

#box6 {
  position: absolute;
  top: 60%;
  right: -15%;
  width: 4vh;
  height: 4vh;
  background: var(--secondary-color);
}

.fluid {
  animation: mochimochi 5s infinite;
  animation-timing-function: linear;
}

@keyframes mochimochi {
  0% {
    transform: scale(1.1, 0.8);
  }
  /*
  20% {
    transform: scale(1.1, 0.8);
  }
*/
  50% {
    transform: scale(0.8, 1.1);
  }

  100% {
    transform: scale(1.1, 0.8);
  }
}

.detail1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.detail2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.detail1 div {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}

.detail2 div {
  padding-top: 20px;
  padding-right: 20px;
  width: 50%;
}

.detail1 img,
.detail2 img {
  width: 50%;
}

.detail1 span,
.detail2 span {
  display: inline-block;
}
.detail1 h1,
.detail2 h1 {
  margin-bottom: 1rem;
}

.flow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 100px;
}

.flow-image {
  width: 40%;
  margin-bottom: 3rem;
}

.ftitle {
  font-style: italic;
  color: var(--tertiary-color);
  /* font-weight: bold; */
  font-size: 300%;
  text-align: center;
  text-shadow: 1.5px 1.5px 0, 1.5px -1.5px 0px, -1.5px 1.5px 0,
    -1.5px -1.5px 0px, 1.5px 0px 0px, 0px 1.5px 0px, -1.5px 0px 0px,
    0px -1.5px 0px;
  letter-spacing: 3px;
}

.fimg {
  width: 70%;
}

#voice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vtitle {
  display: flex;
  justify-content: center;
}

.voice-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.voice-container img {
  object-fit: contain;
}

.voice-container1 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.voice-container1 img,
.voice-container2 img {
  width: 42%;
}

.voice-container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.profile {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.table2 .profile-row {
  line-height: 50px;
  border-bottom: 2px solid #000;
  margin: 0;
  position: relative;
}

.table2 .profile-row:last-child {
  border-bottom: none;
}

.profile-row {
  display: flex;
  margin-bottom: 20px;
}
.profile-row-key {
  font-weight: bold;
  width: 40%;
}
.profile-row-value {
  font-weight: normal;
}

.q {
  margin-bottom: 20px;
}

.q h3 {
  color: #fff;
  padding: 5px 0 5px 5px;
  background-color: var(--tertiary-color);
  margin: 5px 0;
}

#company {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tertiary-color);
  color: #fff;
}

.ctitle {
  display: flex;
  justify-content: center;
}

.cphoto {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cimg {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.cimg p {
  text-align: center;
}

.btitle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.table th {
  font-size: 20px;
  color: #fff;
  background-color: var(--tertiary-color);
  padding: 20px;
}

.table {
  border-spacing: 0px 20px;
}

.table td {
  background-color: rgb(231, 229, 229);
  padding-left: 20px;
  padding-right: 20px;
}

.table p {
  padding: 0;
  margin: 0;
}

.sj ul {
  padding-left: 0;
}

.sj span {
  color: var(--tertiary-color);
}

.a {
  margin-bottom: 20px;
}

.a h3 {
  text-align: center;
  color: #fff;
  padding: 5px 0;
  background-color: var(--tertiary-color);
}

.a p {
  margin: 0 auto;
}

.footer {
  background-color: var(--tertiary-color);
  height: 2em;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer p {
  color: #fff;
  font-size: 12px;
}

/* タブレット (960px以下) */
@media screen and (max-width: 960px) {
  /* NOTE: 今回はタブレットは無視する */
}

/* スマホ (520px以下) */
@media screen and (max-width: 520px) {
  #keyvisual .kv-wrapper .circle {
    top: 2vw;
    right: 2vw;
    width: 3.5rem;
    height: 3.5rem;
  }

  #keyvisual .kv-wrapper .circle .circle-text {
    font-size: 0.875rem; /* 14px */
  }

  #keyvisual .catch-phrase {
    font-size: 1rem;
  }

  #keyvisual .catch-phrase-index {
    padding: 0.1rem 0.2rem;
    font-size: 1rem;
    font-weight: bolder;
  }

  #keyvisual .speech-bubble {
    top: -2rem;
    width: fit-content;
    margin: 0 1rem;
    font-size: 1.125rem; /* 18px */
  }

  #keyvisual .kv-apply-subtext {
    font-size: 1.125rem; /* 18px */
  }

  #keyvisual .kv-apply-maintext {
    font-size: 2rem;
  }

  #keyvisual .kv-apply-button {
    font-size: 1.125rem; /* 18px */
  }
  #keyvisual .project-title-wrapper {
    top: auto;
  }

  #keyvisual .kv-main-area {
    height: 100%;
    justify-content: center;
    display: flex;
  }

  .contents {
    width: 80%;
  }

  .nw {
    flex-direction: column;
    align-items: center;
  }

  .nw div,
  .ifp div {
    padding: 0;
    margin: 30px 0 0 0;
    width: 100%;
  }

  .ifp {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* 
  .recommendation{
    height: 50vh;
  } */

  .konnakata {
    width: 70%;
  }
  .rec {
    width: 80%;
    /* height: 70%; */
    flex-wrap: wrap;
  }

  .recphoto {
    width: 48%;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .jtitle img {
    width: 50%;
  }

  .detail1 {
    flex-direction: column;
  }

  .detail1 img,
  .detail2 img {
    width: 100%;
  }

  .detail1 div,
  .detail2 div {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
  }

  .detail1 h1,
  .detail2 h1 {
    margin: 0 0 10px 0;
  }

  .detail2 {
    flex-direction: column-reverse;
  }

  .fluid {
    display: none;
  }

  .flow {
    margin-bottom: 50px;
  }
  .flow-image {
    margin-bottom: 1rem;
  }

  .ftitle {
    font-size: 9vw;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0, 1px -1px 0px, -1px 1px 0, -1px -1px 0px, 1px 0px 0px,
      0px 1px 0px, -1px 0px 0px, 0px -1px 0px;
    letter-spacing: 3px;
  }

  .flow img {
    width: 80%;
  }

  .vtitle {
    width: 100%;
  }

  .vtitle img {
    width: 60%;
  }

  .voice-container1 {
    flex-direction: column;
  }

  .voice-container2 {
    flex-direction: column-reverse;
  }

  .voice-container img {
    width: 100%;
  }

  .profile {
    width: 100%;
  }

  .ctitle {
    width: 100%;
  }

  .ctitle img {
    width: 50%;
  }

  .cphoto {
    flex-wrap: wrap;
    height: 60vh;
  }

  .cimg {
    width: 40%;
  }

  #company {
    height: 80vh;
  }

  .btitle {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .btitle img {
    width: 50%;
  }

  .table2 .profile-row {
    line-height: inherit;
    padding-bottom: 0.5rem ;
    margin-bottom: 0.5rem ;
  }

  .profile-row {
    flex-direction: column;
  }
  .profile-row-key {
    font-weight: bold;
    width: auto;
  }
  .profile-row-value {
    font-weight: normal;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .table td {
    padding-left: 5px;
    padding-right: 5px;
  }

  .table th {
    padding: 20px 10px;
  }
}
