/**
 * 全てのページで適用するCSSを記述する 
 **/
@charset "utf-8";

:root {
  --primary-color: #004a7b;
  --secondary-color: #f55464;
  --tertiary-color: #009d88;
  font-size: 16px;
}

html {
  font-size: 100%;
  color: #222;
  background: white;
}

span{
  display: inline-block;
}

/**
 * [Begin] Side Bar
 **/
#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 3.55rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 10;
}

.side-button {
  font-size: 1.3rem;
  font-weight: bolder;
  writing-mode: vertical-rl;
  color: white;
  background-color: var(--secondary-color);

  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 0.7rem 0 0 0.7rem;
}
.side-button#side-button-apply {
  background-color: var(--secondary-color);
}
.side-button#side-button-contact {
  background-color: var(--tertiary-color);
}
.side-button#side-button-line-icon{
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.line-icon {
  width: auto;
  width: 3.55rem;
}

/* Side bar のアニメーション */
#sidebar {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateX(100%);
}
#sidebar.is-show {
  opacity: 1;
  transform: translateX(0);
}
/**
 * [End] Side Bar
 **/

/* タブレット (960px以下) */
@media screen and (max-width: 960px) {
  /* NOTE: 今回はタブレットは無視する */
}

/* スマホ (520px以下) */
@media screen and (max-width: 520px) {
  .side-button {
    font-size: 1rem;
    font-weight: bolder;
    writing-mode: vertical-rl;
    color: white;
    background-color: var(--secondary-color);
    margin: 0.4rem 0;
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}
